#left-sidebar {
	display: none;
}

#header_top {
	display: none;	
}

.page {
	left: 0;
}

.close_rightbar .page {
    width: 100% !important;
}

.contenedor-busqueda {
	display: none;
}

.breadcrumb {
	display: none;
}

.nav.nav-tabs.page-header-tab {
	display: none;
}

.form-control {
	color: #7d8490;
	border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.etiqueta-control {
	align-self: center;
	margin-right: 5px;
}

.footer {
	display: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    /*color: #7d8490;*/
    opacity: 0.5
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#tabla-valores .spinner-border {
	width: 1.2rem;
    height: 1.2rem;
}

#btn-buscar {
	max-width: 50px;
}

.nav.nav-pills{
	display: none;
}

